For Iris dataset your task is to print steps for every split in the decision tree.

Your Project is divided in 2 parts -

1. Print the Decision tree steps as specified in the example below.

2. Decision Tree Implementation:  Building actual decision tree for the dataset and then printing it.

Note: You can submit multiple times before deadline/evaluation. Your final submission will be evaluated.

Dataset: Iris dataset.
    
Implementation: Consider the decision tree for OR below:

![image.png]()

## Implementation Using Sklearn

In [ ]:
from sklearn import datasets
import pandas as pd
import numpy as np
import math

In [ ]:
iris = datasets.load_iris()
iris

{'data': array([[5.1, 3.5, 1.4, 0.2],
        [4.9, 3. , 1.4, 0.2],
        [4.7, 3.2, 1.3, 0.2],
        [4.6, 3.1, 1.5, 0.2],
        [5. , 3.6, 1.4, 0.2],
        [5.4, 3.9, 1.7, 0.4],
        [4.6, 3.4, 1.4, 0.3],
        [5. , 3.4, 1.5, 0.2],
        [4.4, 2.9, 1.4, 0.2],
        [4.9, 3.1, 1.5, 0.1],
        [5.4, 3.7, 1.5, 0.2],
        [4.8, 3.4, 1.6, 0.2],
        [4.8, 3. , 1.4, 0.1],
        [4.3, 3. , 1.1, 0.1],
        [5.8, 4. , 1.2, 0.2],
        [5.7, 4.4, 1.5, 0.4],
        [5.4, 3.9, 1.3, 0.4],
        [5.1, 3.5, 1.4, 0.3],
        [5.7, 3.8, 1.7, 0.3],
        [5.1, 3.8, 1.5, 0.3],
        [5.4, 3.4, 1.7, 0.2],
        [5.1, 3.7, 1.5, 0.4],
        [4.6, 3.6, 1. , 0.2],
        [5.1, 3.3, 1.7, 0.5],
        [4.8, 3.4, 1.9, 0.2],
        [5. , 3. , 1.6, 0.2],
        [5. , 3.4, 1.6, 0.4],
        [5.2, 3.5, 1.5, 0.2],
        [5.2, 3.4, 1.4, 0.2],
        [4.7, 3.2, 1.6, 0.2],
        [4.8, 3.1, 1.6, 0.2],
        [5.4, 3.4, 1.5, 0.4],
        [5.2, 4.1, 1.5, 0.1],
        [5.5, 4.2, 1.4, 0.2],
        [4.9, 3.1, 1.5, 0.2],
        [5. , 3.2, 1.2, 0.2],
        [5.5, 3.5, 1.3, 0.2],
        [4.9, 3.6, 1.4, 0.1],
        [4.4, 3. , 1.3, 0.2],
        [5.1, 3.4, 1.5, 0.2],
        [5. , 3.5, 1.3, 0.3],
        [4.5, 2.3, 1.3, 0.3],
        [4.4, 3.2, 1.3, 0.2],
        [5. , 3.5, 1.6, 0.6],
        [5.1, 3.8, 1.9, 0.4],
        [4.8, 3. , 1.4, 0.3],
        [5.1, 3.8, 1.6, 0.2],
        [4.6, 3.2, 1.4, 0.2],
        [5.3, 3.7, 1.5, 0.2],
        [5. , 3.3, 1.4, 0.2],
        [7. , 3.2, 4.7, 1.4],
        [6.4, 3.2, 4.5, 1.5],
        [6.9, 3.1, 4.9, 1.5],
        [5.5, 2.3, 4. , 1.3],
        [6.5, 2.8, 4.6, 1.5],
        [5.7, 2.8, 4.5, 1.3],
        [6.3, 3.3, 4.7, 1.6],
        [4.9, 2.4, 3.3, 1. ],
        [6.6, 2.9, 4.6, 1.3],
        [5.2, 2.7, 3.9, 1.4],
        [5. , 2. , 3.5, 1. ],
        [5.9, 3. , 4.2, 1.5],
        [6. , 2.2, 4. , 1. ],
        [6.1, 2.9, 4.7, 1.4],
        [5.6, 2.9, 3.6, 1.3],
        [6.7, 3.1, 4.4, 1.4],
        [5.6, 3. , 4.5, 1.5],
        [5.8, 2.7, 4.1, 1. ],
        [6.2, 2.2, 4.5, 1.5],
        [5.6, 2.5, 3.9, 1.1],
        [5.9, 3.2, 4.8, 1.8],
        [6.1, 2.8, 4. , 1.3],
        [6.3, 2.5, 4.9, 1.5],
        [6.1, 2.8, 4.7, 1.2],
        [6.4, 2.9, 4.3, 1.3],
        [6.6, 3. , 4.4, 1.4],
        [6.8, 2.8, 4.8, 1.4],
        [6.7, 3. , 5. , 1.7],
        [6. , 2.9, 4.5, 1.5],
        [5.7, 2.6, 3.5, 1. ],
        [5.5, 2.4, 3.8, 1.1],
        [5.5, 2.4, 3.7, 1. ],
        [5.8, 2.7, 3.9, 1.2],
        [6. , 2.7, 5.1, 1.6],
        [5.4, 3. , 4.5, 1.5],
        [6. , 3.4, 4.5, 1.6],
        [6.7, 3.1, 4.7, 1.5],
        [6.3, 2.3, 4.4, 1.3],
        [5.6, 3. , 4.1, 1.3],
        [5.5, 2.5, 4. , 1.3],
        [5.5, 2.6, 4.4, 1.2],
        [6.1, 3. , 4.6, 1.4],
        [5.8, 2.6, 4. , 1.2],
        [5. , 2.3, 3.3, 1. ],
        [5.6, 2.7, 4.2, 1.3],
        [5.7, 3. , 4.2, 1.2],
        [5.7, 2.9, 4.2, 1.3],
        [6.2, 2.9, 4.3, 1.3],
        [5.1, 2.5, 3. , 1.1],
        [5.7, 2.8, 4.1, 1.3],
        [6.3, 3.3, 6. , 2.5],
        [5.8, 2.7, 5.1, 1.9],
        [7.1, 3. , 5.9, 2.1],
        [6.3, 2.9, 5.6, 1.8],
        [6.5, 3. , 5.8, 2.2],
        [7.6, 3. , 6.6, 2.1],
        [4.9, 2.5, 4.5, 1.7],
        [7.3, 2.9, 6.3, 1.8],
        [6.7, 2.5, 5.8, 1.8],
        [7.2, 3.6, 6.1, 2.5],
        [6.5, 3.2, 5.1, 2. ],
        [6.4, 2.7, 5.3, 1.9],
        [6.8, 3. , 5.5, 2.1],
        [5.7, 2.5, 5. , 2. ],
        [5.8, 2.8, 5.1, 2.4],
        [6.4, 3.2, 5.3, 2.3],
        [6.5, 3. , 5.5, 1.8],
        [7.7, 3.8, 6.7, 2.2],
        [7.7, 2.6, 6.9, 2.3],
        [6. , 2.2, 5. , 1.5],
        [6.9, 3.2, 5.7, 2.3],
        [5.6, 2.8, 4.9, 2. ],
        [7.7, 2.8, 6.7, 2. ],
        [6.3, 2.7, 4.9, 1.8],
        [6.7, 3.3, 5.7, 2.1],
        [7.2, 3.2, 6. , 1.8],
        [6.2, 2.8, 4.8, 1.8],
        [6.1, 3. , 4.9, 1.8],
        [6.4, 2.8, 5.6, 2.1],
        [7.2, 3. , 5.8, 1.6],
        [7.4, 2.8, 6.1, 1.9],
        [7.9, 3.8, 6.4, 2. ],
        [6.4, 2.8, 5.6, 2.2],
        [6.3, 2.8, 5.1, 1.5],
        [6.1, 2.6, 5.6, 1.4],
        [7.7, 3. , 6.1, 2.3],
        [6.3, 3.4, 5.6, 2.4],
        [6.4, 3.1, 5.5, 1.8],
        [6. , 3. , 4.8, 1.8],
        [6.9, 3.1, 5.4, 2.1],
        [6.7, 3.1, 5.6, 2.4],
        [6.9, 3.1, 5.1, 2.3],
        [5.8, 2.7, 5.1, 1.9],
        [6.8, 3.2, 5.9, 2.3],
        [6.7, 3.3, 5.7, 2.5],
        [6.7, 3. , 5.2, 2.3],
        [6.3, 2.5, 5. , 1.9],
        [6.5, 3. , 5.2, 2. ],
        [6.2, 3.4, 5.4, 2.3],
        [5.9, 3. , 5.1, 1.8]]),
 'target': array([0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0,
        0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0,
        0, 0, 0, 0, 0, 0, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1,
        1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1,
        1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2,
        2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2,
        2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2]),
 'frame': None,
 'target_names': array(['setosa', 'versicolor', 'virginica'], dtype='<U10'),
 'DESCR': '.. _iris_dataset:\n\nIris plants dataset\n--------------------\n\n**Data Set Characteristics:**\n\n    :Number of Instances: 150 (50 in each of three classes)\n    :Number of Attributes: 4 numeric, predictive attributes and the class\n    :Attribute Information:\n        - sepal length in cm\n        - sepal width in cm\n        - petal length in cm\n        - petal width in cm\n        - class:\n                - Iris-Setosa\n                - Iris-Versicolour\n                - Iris-Virginica\n                \n    :Summary Statistics:\n\n    ============== ==== ==== ======= ===== ====================\n                    Min  Max   Mean    SD   Class Correlation\n    ============== ==== ==== ======= ===== ====================\n    sepal length:   4.3  7.9   5.84   0.83    0.7826\n    sepal width:    2.0  4.4   3.05   0.43   -0.4194\n    petal length:   1.0  6.9   3.76   1.76    0.9490  (high!)\n    petal width:    0.1  2.5   1.20   0.76    0.9565  (high!)\n    ============== ==== ==== ======= ===== ====================\n\n    :Missing Attribute Values: None\n    :Class Distribution: 33.3% for each of 3 classes.\n    :Creator: R.A. Fisher\n    :Donor: Michael Marshall (MARSHALL%PLU@io.arc.nasa.gov)\n    :Date: July, 1988\n\nThe famous Iris database, first used by Sir R.A. Fisher. The dataset is taken\nfrom Fisher\'s paper. Note that it\'s the same as in R, but not as in the UCI\nMachine Learning Repository, which has two wrong data points.\n\nThis is perhaps the best known database to be found in the\npattern recognition literature.  Fisher\'s paper is a classic in the field and\nis referenced frequently to this day.  (See Duda & Hart, for example.)  The\ndata set contains 3 classes of 50 instances each, where each class refers to a\ntype of iris plant.  One class is linearly separable from the other 2; the\nlatter are NOT linearly separable from each other.\n\n.. topic:: References\n\n   - Fisher, R.A. "The use of multiple measurements in taxonomic problems"\n     Annual Eugenics, 7, Part II, 179-188 (1936); also in "Contributions to\n     Mathematical Statistics" (John Wiley, NY, 1950).\n   - Duda, R.O., & Hart, P.E. (1973) Pattern Classification and Scene Analysis.\n     (Q327.D83) John Wiley & Sons.  ISBN 0-471-22361-1.  See page 218.\n   - Dasarathy, B.V. (1980) "Nosing Around the Neighborhood: A New System\n     Structure and Classification Rule for Recognition in Partially Exposed\n     Environments".  IEEE Transactions on Pattern Analysis and Machine\n     Intelligence, Vol. PAMI-2, No. 1, 67-71.\n   - Gates, G.W. (1972) "The Reduced Nearest Neighbor Rule".  IEEE Transactions\n     on Information Theory, May 1972, 431-433.\n   - See also: 1988 MLC Proceedings, 54-64.  Cheeseman et al"s AUTOCLASS II\n     conceptual clustering system finds 3 classes in the data.\n   - Many, many more ...',
 'feature_names': ['sepal length (cm)',
  'sepal width (cm)',
  'petal length (cm)',
  'petal width (cm)'],
 'filename': 'iris.csv',
 'data_module': 'sklearn.datasets.data'}

In [ ]:
df = pd.DataFrame(np.append(iris.data, iris.target.reshape(-1, 1), axis = 1), columns = ['sl', 'sw', 'pl', 'pw', 'pred'])

In [ ]:
# If MIN_Value <= val < (m + Mean_Value)/2 then it is assigned label a
# If (m + Mean_Value) <= val < Mean_Value then it is assigned label b
# If (Mean_Value) <= val < (Mean_Value + MAX_Value)/2 then it is assigned label c
# If (Mean_Value + MAX_Value)/2 <= val <= MAX_Value  then it is assigned label d

def label(val, *boundaries):
    if (val < boundaries[0]):
        return 1
    elif (val < boundaries[1]):
        return 2
    elif (val < boundaries[2]):
        return 3
    else:
        return 4

In [ ]:
# Function to convert a continuous data into labelled data. There are 4 lables - a, b, c, d
def toLabel(df, old_feature_name):
    second = df[old_feature_name].mean()
    minimum = df[old_feature_name].min()
    first = (minimum + second)/2
    maximum = df[old_feature_name].max()
    third = (maximum + second)/2
    return df[old_feature_name].apply(label, args= (first, second, third))

In [ ]:
# Convert all columns to labelled data
df['sl_labeled'] = toLabel(df, 'sl')
df['sw_labeled'] = toLabel(df, 'sw')
df['pl_labeled'] = toLabel(df, 'pl')
df['pw_labeled'] = toLabel(df, 'pw')
df

      sl   sw   pl   pw  pred  sl_labeled  sw_labeled  pl_labeled  pw_labeled
0    5.1  3.5  1.4  0.2   0.0           2           3           1           1
1    4.9  3.0  1.4  0.2   0.0           1           2           1           1
2    4.7  3.2  1.3  0.2   0.0           1           3           1           1
3    4.6  3.1  1.5  0.2   0.0           1           3           1           1
4    5.0  3.6  1.4  0.2   0.0           1           3           1           1
..   ...  ...  ...  ...   ...         ...         ...         ...         ...
145  6.7  3.0  5.2  2.3   2.0           3           2           3           4
146  6.3  2.5  5.0  1.9   2.0           3           1           3           4
147  6.5  3.0  5.2  2.0   2.0           3           2           3           4
148  6.2  3.4  5.4  2.3   2.0           3           3           4           4
149  5.9  3.0  5.1  1.8   2.0           3           2           3           3

[150 rows x 9 columns]

In [ ]:
df.drop(['sl', 'sw', 'pl', 'pw'], axis = 1, inplace = True)
df

     pred  sl_labeled  sw_labeled  pl_labeled  pw_labeled
0     0.0           2           3           1           1
1     0.0           1           2           1           1
2     0.0           1           3           1           1
3     0.0           1           3           1           1
4     0.0           1           3           1           1
..    ...         ...         ...         ...         ...
145   2.0           3           2           3           4
146   2.0           3           1           3           4
147   2.0           3           2           3           4
148   2.0           3           3           4           4
149   2.0           3           2           3           3

[150 rows x 5 columns]

In [ ]:
columns = ['sl_labeled', 'sw_labeled', 'pl_labeled', "pw_labeled", "pred"]
df = df.reindex(columns = columns)

In [ ]:
# Getting the input features
X = df.copy()

# Getting the output
Y = pd.DataFrame(iris.target)

In [ ]:
# Using sklearn's inbuilt decision tree classifier
from sklearn.tree import DecisionTreeClassifier
from sklearn.model_selection import train_test_split

# Splitting the data into test and train data (randomly without any bias)
x_train, x_test, y_train, y_test = train_test_split(X, Y, random_state = 1)

# Using sklearn to import the classifier/algorithm
clf = DecisionTreeClassifier()

# Fitting/training the data
clf.fit(x_train, y_train)

# Calculating the score for testing data
clf.score(x_test, y_test)

1.0

## Self Implementation

In [ ]:
# Convert feature labels into a list
featureLabels = list(df.columns)

In [ ]:
# Input features
input = list(df.values)

In [ ]:
# Calculating the entropy (to determine parent/children)
def entropy(data):
  entropy = 0
  labelList = [example[-1] for example in data]
  # To store a particular value once
  uniqueLabelSet = set(labelList)
  labelCount ={}
  # Counting frequency of each label
  for label in labelList :
        if label not in labelCount.keys() :
            labelCount[label] = 0
        labelCount[label] += 1
  # Calculating the entropy
  for label in uniqueLabelSet :
        prob = float(labelCount[label]) / len(data)
        entropy -= prob * math.log(prob, 2)
  return entropy

In [ ]:
# Split the data according to a given feature
def splitData(data, feature, value):
  returnData = []
  for sample in data :
    if sample[feature] == value :
      reducedSample = np.concatenate((sample[: feature], sample[feature + 1 :]))
      # Obtain the splitted data
      returnData.append(reducedSample)
  return returnData

In [ ]:
# Finding the best feature to split upon using information gain
def bestFeatureToSplit(data):
  # Count the number of features
  featureNum = len(data[0]) - 1
  bestFeature = -1
  bestInfoGain= 0.0
  # Calculate entropy for incoming data
  baseEntropy = entropy(data)
  print('Current Entropy is  = ', baseEntropy)
  # Check for pure nodes (leafs)
  if baseEntropy == 0:
    print('Reached Leaf Node')
  # Calculate information gain. First calculate entropy for each children and then substract their weighted average from the parent (baseEntropy)
  for feature in range(featureNum):
    newEntropy = 0
    featureValue = [example[feature] for example in data]
    # Store a particular feature value only once
    uniqueFeatureValue = set(featureValue)
    for value in uniqueFeatureValue :
      subData = splitData(data, feature, value)
      prob = float(len(subData)) / len(data)
      newEntropy += prob * entropy(subData)
    infoGain = baseEntropy - newEntropy
    if infoGain > bestInfoGain :
      bestInfoGain = infoGain
      bestFeature = feature
  # Calculate split information (calculate internal entropy within the feature for each feature value)
  splitInfo = 0
  labelList = [example[bestFeature] for example in data]
  uniqueLabelSet = set(labelList)
  labelCount = {}
  for label in labelList :
    if label not in labelCount.keys() :
      labelCount[label] = 0
    labelCount[label] += 1
  for label in uniqueLabelSet :
    prob = float(labelCount[label]) / len(data)
    splitInfo -= prob * math.log(prob, 2)
  # Calculate Gain Ratio
  gainRatio = bestInfoGain/splitInfo
  print('Splitting on feature', featureLabels[bestFeature], 'with Gain Ratio = ', gainRatio, end = '\n')
  return bestFeature

In [ ]:
# Calculate the majority for an impure node
def majority(classList):
  classCount = {}
  for vote in classList :
    if vote not in classCount.keys() :
      classCount[vote] = 0
    classCount[vote] += 1
  sortedClassCount = sorted(classCount, reverse = True)
  # Final output for an impure node is sortedClassCount
  return sortedClassCount

In [ ]:
def generateTree(data, labels, level, oldData):
  # The label/output list for dataset
  labelList = [example[-1] for example in data]
  # Uniquely identified labels
  uniqueLabelSet = set(labelList)
  labelCount = {}
  for label in labelList :
    if label not in labelCount.keys() :
      labelCount[label] = 0
    labelCount[label] += 1
  # Finding the level at which evaluation takes place
  if data != oldData :
    level += 1
    oldData = data
    print('Level ', level)
  else :
    print('Level ', level)
  # Count of labels corresponding to each parent or child (in the data)
  for label in labelCount :
    print('Count of ', int(label), '= ', labelCount[label])
    if entropy(data) == 0 :
      print('Current Entropy is = ', entropy(data))
      print('Reached Leaf Node', end = '\n')
  # Checking if node is pure/not
  if labelList.count(labelList[0]) == len(labelList) :
    return labelList[0]
  # If node is not pure then we check for the majority label
  if len(data[0]) == 1 :
    return majority(labelList)
  bestFeature = bestFeatureToSplit(data)
  bestFeatureLabel = labels[bestFeature]
  # Initialising the decision tree dictionary (that contains the decision tree)
  decisionTree = {bestFeatureLabel : {}}
  # Delete the feature upon which split has already taken
  del(labels[bestFeature])
  # Decision making by using best feature to split
  featureValues = [example[bestFeature] for example in data]
  uniqueFeatureValues = set(featureValues)
  for value in uniqueFeatureValues :
    subData = splitData(data, bestFeature, value)
    subLabel = labels[:]
    decisionTree[bestFeatureLabel][value] = generateTree(subData, subLabel, level, oldData)
  return decisionTree

In [ ]:
decisionTree = generateTree(input, featureLabels, 0, input)

Level  0
Count of  0 =  50
Count of  1 =  50
Count of  2 =  50
Current Entropy is  =  1.584962500721156
Splitting on feature pw_labeled with Gain Ratio =  0.699638203622209
Level  1
Count of  0 =  50
Current Entropy is =  0.0
Reached Leaf Node
Level  1
Count of  1 =  10
Current Entropy is =  0.0
Reached Leaf Node
Level  1
Count of  1 =  40
Count of  2 =  16
Current Entropy is  =  0.863120568566631
Splitting on feature pl_labeled with Gain Ratio =  0.4334099495621066
Level  2
Count of  1 =  1
Current Entropy is =  0.0
Reached Leaf Node
Level  2
Count of  1 =  39
Count of  2 =  8
Current Entropy is  =  0.6581912658132185
Splitting on feature sl_labeled with Gain Ratio =  0.12674503775809332
Level  3
Count of  2 =  1
Current Entropy is =  0.0
Reached Leaf Node
Level  3
Count of  1 =  14
Current Entropy is =  0.0
Reached Leaf Node
Level  3
Count of  1 =  23
Count of  2 =  7
Current Entropy is  =  0.783776947484701
Splitting on feature sl_labeled with Gain Ratio =  0.07092036405148876
Level  4
Count of  1 =  3
Count of  2 =  1
Current Entropy is =  0.8112781244591328
Reached Leaf Node
Level  4
Count of  1 =  14
Count of  2 =  6
Current Entropy is =  0.8812908992306927
Reached Leaf Node
Level  4
Count of  1 =  6
Current Entropy is =  0.0
Reached Leaf Node
Level  3
Count of  1 =  2
Current Entropy is =  0.0
Reached Leaf Node
Level  2
Count of  2 =  8
Current Entropy is =  0.0
Reached Leaf Node
Level  1
Count of  2 =  34
Current Entropy is =  0.0
Reached Leaf Node

In the above output if the count of a label (either 0/1/2) is not shown, it is 0.

In [ ]:
# Printing the decision tree
print(decisionTree)

{'pw_labeled': {1.0: 0.0, 2.0: 1.0, 3.0: {'pl_labeled': {2.0: 1.0, 3.0: {'sl_labeled': {1.0: 2.0, 2.0: 1.0, 3.0: {'sw_labeled': {1.0: [2.0, 1.0], 2.0: [2.0, 1.0], 3.0: 1.0}}, 4.0: 1.0}}, 4.0: 2.0}}, 4.0: 2.0}}